@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #FFB703;
    --accent1-color: #219EBC;
    --accent2-color: #FB8500;
    
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Times Roman', serif;
    
    --nav-backrground-color: #8ECAE6;
    --nav-link-color: #FFB703;
    --nav-hover-link-color: #219EBC;
    --nav-hover-backrground-color: #FB8500;
    }

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }

body {
        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
    }

header {
        padding: 20px;
        color: black;
    }

nav {
        background-color: var(--nav-backrground-color);
        font-size: 1.2rem;
        display: flex;
        position: relative;
    }

h2 {
    position: inherit;
    color: orange;
}

p {
    padding: 25px;
    color: black;
    position: relative;
}

.sociallinks a   {
    text-decoration: none;

}


.hero img  {
    display: block;
    width: 100%;
    height: auto;
    float: right;
    position: relative;
  }

div {
    position: relative;
}

  h1 {
    position: absolute;
    float: right;
    color: whitesmoke;
}


