@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');



:root {
    --primary-color: #8ECAE6;
    --secondary-color: #FFB703;
    --accent1-color: #219EBC;
    --accent2-color: #FB8500;
    
    --heading-font: 'Montserrat', serif;
    --paragraph-font: 'Times Roman', serif;
    
    --nav-backrground-color: #8ECAE6;
    --nav-link-color: #FFB703;
    --nav-hover-link-color: #219EBC;
    --nav-hover-backrground-color: #FB8500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 20px 20px;
    padding: 20px 20px;
}

nav img {
    padding: 50px 50px;
    width: 15%;
    height: auto;
    float: left;
}

.hero img {
    display: block;
    padding: 0px 0px 50px 50px;
    width: 50%;
    height: auto;
    position: relative;
}

h1 {
    background-color: lightblue;
    width: 50%;
    margin: 0px 15%;
    padding: 20px 20px;
    font-size: 250%;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    bottom: 900px;
}

article :first-child {
    margin: 20px 20px;
    padding: 20px 20px;
    width: 15%;
    height: auto;
    float: right;
    top: 460px;
    left: 1500px;
    position: absolute;
    clear: both;
    
}

article :last-child {
    color: whitesmoke;
    font-weight: bold;
    margin: 20px 50px;
    padding: 20px 20px;
    width: 71%;
    height: auto;
    text-align: start;
    background-color: #219EBC;
    opacity: 0.5;
    position: relative;
    bottom: 750px;
    
     
}

.sociallinks img {
    width: 5%;
    height: auto;
    margin: 0px 50px;
    padding: 20px 20px;
}

