* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav{
    background-color: lightblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

h1 {
    margin: 1rem;
    color: navy;
    border-bottom: solid lightseagreen;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}
main img {
    /* width: 150px;
    height: auto; */
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 10px;
}
aside {
    width: 20em;
    /* margin: 1em; */
    border: 1px solid rgba(214, 26, 26, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

h2 {
    color: lightsalmon;
}

aside img {
    width: 288px;
    height: 270px;
    
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 90px;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: lightyellow;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}