* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: lightblue;
    padding: 10px;
}
nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    margin: 1rem;
    color: navy;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}


p {
    margin: 1rem;
    padding: 10px;
}
aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(214, 26, 26, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

h2 {
    color: lightsalmon;
}

aside img {
    width: 200px;
    height: auto;
    
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 90px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: lightyellow;
    color: #000;
}

.indent {
    padding-left: 2rem;
}